**1) Discuss string slicing and provide examples?**

**Ans :-** Definition :- **String** is a a  sequence of a characters together which can be either name,words,statement,etc.This string charaacters consist of single charaters which makes a complete string.This each single character is a single unit of text which is useful to represent and manipulate tectual data.Each character is represented with a numerical value so the computer system understand what is the character used in a string.

In [ ]:
# Example :- String character stored with a numeric value

char = "b" # defined a char variable which points to a charater data type
ord(char)  #ord() function is used to know the numeric value which represents the charaters used in variable
print(ord(char))

98

**String Slicing :-** String slicing is a used if we want to extract any part or portion of  string of charaters by using its range of indices where each character is stored with a index number. So Strings in Python are based on indexed,thefirst character will be having an index starting from 0 and go ahead in right to left order, sting also has a reverse order from the last character having an index of -1 reverse indexing till reverse behind. Slicing allows us to extract substrings.

**Syntax:- ** string[start:end:step]

**start**: It is the index of the first character to start to include from.

**end:** It is the index of the character to stop to include from.

**step:** It is Optional it is the step size for slicing. to extract by skinpping ahead by a value defined

 **Examples of String Slicing:-**

In [ ]:
## a) Access the element using index number
name = "saurabh" # A variable defined which is storing string data
name[0]  # element of a string is accessed using its index number
name[1]
name[2]
name[3]
name[4]
name[5]
name[6]
print(name[0],name[1],name[2],name[3],name[4],name[5],name[6])

s a u r a b h

**Now Another example :-** Using string slicing to extract a part of string.

In [ ]:
## Example b) To extract a string part
string1 = "I am a good student"  # To access a part of string we'll use the concept of indexing and also in string spaces will also have a index.
string1[0:4] # used string slicing concept  to extract a part from a starting point and a stop point using index form.
string1[7:19]
print(string1[0:4])
print(string1[7:19])

I am
good student

In [ ]:
## Example c) If we want to access all elements
string2 = "My name is saurabh"
string2[0:]# we have used here just starting index to start to add from we have not used exlusive or step here because we want all
print(string2[0:])

My name is saurabh

In [ ]:
## Example d) we can also use negative indexing to extract a part
string3 = "HelloWorld"
string3[:-3] # Even with having a exclusive point to exclude data from we'll get elements excluding

'HelloWo'

In [ ]:
## Example e) If we want last three characters using -tive index
string4 = "HelloPanchgani"
string4[-3:]
print(string4[-3:])

ani

In [ ]:
## Example f) If we want to extract using step also
string5 = "HelloPwskills"
string5[0:6:2]
print(string5[0:6:2])

Hlo

---------------------------------------------------------------------------

**2) Explain the key features of lists in Python?**

**Ans:-** Lists in python are ordered collection of items which are mutable in python nature.Lists are collection of multiple different data items which  can be of any data type.List a like a bag which can store any items in it and they are in ordered form.List are heterogenius and can store any type of data in them.
List are collections of items stored inside [] square brackets

Example:-

In [ ]:
list_of_items = [] #square brackets is used to  define a list which stores different items in it
type(list_of_items) #see type of data stored is list
print(type(list_of_items))

<class 'list'>

**Key Features of Lists in pyhton:-**



1.   **List are ordered collection :-** List are ordered in proper list as defined having a proper fixed order which can be access using index.
Every defined items are stored in proper order which are defined by user and they are stored with a order of index.
2.   **List are mutable:-** Elements stored in a list can be modified with new element, added, or removed as we want. We can access the eliment of list using a index number, and accessing elements we can assign new , add new, remove any elemnt we want.


3.  **Lists are Heterogeneous in python:-** Lists can store diffrent colection of data items of various different data types.List contains any data type colections its heterogenous in python nature.
4.   **Lists are dynamic:-** Lists can add numerous data in it also can remove as mmuch as data we want.




5.   **List supports Methods:** Lists support various built-in methods like append(), extend(), and insert() etc.



**Examples:-**

In [ ]:
##  Ordered collection of heterogenous list
heterogenous = ["saurabh", 1, 2, 3, 2.3, 2.5, 3+5j]
print(heterogenous)

['saurabh', 1, 2, 3, 2.3, 2.5, (3+5j)]

In [ ]:
## a) Accessing elements of Ordered collection of heterogenous list
heterogenous = ["saurabh", 1, 2, 3, 2.3, 2.5, 3+5j]
heterogenous[0] # access the elements of list data structure
heterogenous[1]
heterogenous[2]
heterogenous[3]
heterogenous[4]
heterogenous[5]
heterogenous[6]
print(heterogenous[0],heterogenous[1],heterogenous[2],heterogenous[3],heterogenous[4],heterogenous[5],heterogenous[6])

saurabh 1 2 3 2.3 2.5 (3+5j)

In [ ]:
## b) Slicing in list
heterogenous[0:5:2] # Slicing using start:exlusive:step
print(heterogenous[0:5:2])
heterogenous[0:5:]# Slicing using start:exlusive
print(heterogenous[0:5:])
heterogenous[0:] # Slicing using start:
print(heterogenous[0:])

['saurabh', 2, 2.3]
['saurabh', 1, 2, 3, 2.3]
['saurabh', 1, 2, 3, 2.3, 2.5, (3+5j)]

In [ ]:
## c) Modifying a list
vegetables1 = ["brinjal", "tomato", "methi", "cabbage", "carrot", "ladyfinger", "shimlapepper"]
print(vegetables1)

['brinjal', 'tomato', 'methi', 'cabbage', 'carrot', 'ladyfinger', 'shimlapepper']

In [ ]:
vegetables1[3]= "capsicum" # Modifying a list
print(vegetables1)

['brinjal', 'tomato', 'methi', 'capsicum', 'carrot', 'ladyfinger', 'shimlapepper']

In [ ]:
## d) Adding a element using append method
vegetables1.append("banana") # Adding a element using append method
print(vegetables1)

['brinjal', 'tomato', 'methi', 'capsicum', 'carrot', 'ladyfinger', 'shimlapepper', 'banana']

In [ ]:
## e) Inserting a element at a before index
name = ["saurabh", "sanjay", "sonawane", "manda"]
print(name)
name.insert(2, "panchgani")
print(name)

['saurabh', 'sanjay', 'sonawane', 'manda']
['saurabh', 'sanjay', 'panchgani', 'sonawane', 'manda']

---------------------------------------------------------------------------

**3)  Describe how to access, modify, and delete elements in a list with examples?**

**Ans :-**
**a) Accessing Elements:-** We can access elements by using its index number in orders how it is stored.

In [ ]:
## Acccessing Eliments of a list
name = ["saurabh", "sanjay", "sonawane", "manda"]
name[3] #element of list accessed
print(name[3])


game = ["cricket", "football", "hockey", "badminton"]
game[2] #element of list accessed
print(game[2])

manda
hockey

**b) Modifying Elements :-**

In [ ]:
name = ["ram", "sham", "nikam"]
print(name)
name[2] = "dham" # accessed the element and modified with new element
print(name)

['ram', 'sham', 'nikam']
['ram', 'sham', 'dham']

**c) Deleting Elements :-**
Python provides ways to delete elements.

**del:-** Removes an item at a specific index.

**remove():-** Removes the first occurrence of a specific value.

**pop():-** Removes and returns an item at a specific index.

In [ ]:
# deleting element using del

number = [1,2,3,4,5,6,7,8,9]
print(number)
del number[5] # deleted a element of a variable using the index of element
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 7, 8, 9]

In [ ]:
# deleting element using remove()
date = [1,2,3,4,6,7,8,9]
print(date)
date.remove(6) # deleted a element of a variable using the value of element
print(date)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 7, 8, 9]

In [ ]:
# deleting a element using pop()
date = [1,2,3,4,6,7,8,9]
print(date)
date.pop(5) # deleted a element of a variable using the index of element
print(date)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 6, 8, 9]

---------------------------------------------------------------------------

**4) Compare and contrast tuples and lists with examples?**

**Ans :-**

a) **Tuples :-**  

1) Tuples are immutable in nature. We cant use item assignment in tuples.

2) Syntax of tuples () data elements are enclosed in parantheses.

3) Tuples are used when we want data to be fixed which cannot be changed.

4) Tuples are heterogenous can store any data and they are ordered collection of data.

5) Tuples in Python can contain duplicate items.

6) Elements can be accessed using index

7) Tuples support slicing


**Examples:-**

In [91]:
# Defined a tuple data structure
new = ("saurabh", "sanjay", "sonawane", "manda")
print(new)
type(new)

('saurabh', 'sanjay', 'sonawane', 'manda')

tuple

In [94]:
# Tuples are immutable in nature. We cant use data change/item assignment in tuples
new = ("saurabh", "sanjay", "sonawane", "manda")
new[1] = "panchgani" # We'll get error tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [95]:
# Tuples are heterogenous can store any data and they are ordered collection of data.
data = ("saurabh", 1, 2, 3, 2.3, 2.5, 3+5j)
print(data)

('saurabh', 1, 2, 3, 2.3, 2.5, (3+5j))

In [97]:
#Tuples in Python can contain duplicate items.
duplicate = ("saurabh", "saurabh", "sanjay", "sonawane", "manda")
print(duplicate)

('saurabh', 'saurabh', 'sanjay', 'sonawane', 'manda')

In [100]:
#Elements can be accessed using index
duplicate[4]
print(duplicate[4])

manda

In [109]:
# Tuples support slicing
data2 = ("saurabh", "sanjay", "sonawane", "manda")
data2[0::2]
print(data2[0::2])

('saurabh', 'sonawane')

**b) Lists :-**

1) Lists are mutable in nature. We can use item assignment in Lists.

2) Syntax of List [] data elements are enclosed in square brackets.

3) List are used when we want data to be mutable.

4) List are heterogenous can store any data and they are ordered collection of data.

5) List in Python can contain duplicate items.

6) Elements can be accessed using index

7) List support slicing

**Examples:-**

In [111]:
# 1) Lists are mutable in nature. We can use item assignment in Lists.
my_list = [10, 20, 30]
my_list[1] = 99  # Changing the second element
print(my_list)

[10, 99, 30]

In [112]:
# Syntax of Lists [] data elements are enclosed in square brackets.
mynewlist = [1, 2, 3, 4, 5]
print(mynewlist)

[1, 2, 3, 4, 5]

In [113]:
#  List are used when we want data to be mutable.
fruits = ["apple", "banana", "cherry"]
fruits.append("date")  # Adding a new item
print(fruits)

['apple', 'banana', 'cherry', 'date']

In [115]:
# Lists are heterogeneous, can store any data, and are an ordered collection of data.
heterogeneous_list = [42, "hello", 3.14, False]
print(heterogeneous_list)

[42, 'hello', 3.14, False]

In [117]:
# List in Python can contain duplicate items.
duplicate_list = [1, 2, 2, 3, 3, 3]
print(duplicate_list)

[1, 2, 2, 3, 3, 3]

In [118]:
#  Elements can be accessed using index
colors = ["red", "green", "blue"]
print(colors[0])  # Accessing the first element

red

In [119]:
# Lists support slicing.
numbers = [10, 20, 30, 40, 50]
print(numbers[1:4])  # Extracting elements from index 1 to 3

[20, 30, 40]

---------------------------------------------------------------------------

**5) Describe the key features of sets and provide examples of their use?**

**Ans:-** **Definition :-** Sets are unordered and unique collection of elements.It doesn't allow duplicate elements.Sets are unordered, so indexing will not work.The basic principle of sets is to have unique elements.Sets elements are not subscriptable,not slicable. Elements can be added or removed.Set operations (e.g., unions, intersections) are optimized.

**Syntax of Sets :-** {}

**Key Features of sets :-**

**1) Sets are Unordered:** No specific order of elements.

**2) Unique:** Duplicate elements are automatically removed.

**3) Mutable:** Elements can be added or removed.

**4) Efficient:** Set operations (e.g., unions, intersections) are optimized.

In [124]:
s = {2}
type(s)

set

In [126]:
a = {1,2,3,4,5,6,7,8}
type(a)

set

In [128]:
# Set is collection of unique elements but unordered.
jb = {1,2,3,1,2,3,4,6,7,8,9,4,5,6,7,8} # Duplicate elements are ignored
print(jb)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [133]:
#converting list into set
x = [1,2,3,4,1,2,3,4,5,6,7,5,6,7,8]
x

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 5, 6, 7, 8]

In [135]:
o = set(x) #converting list into set
o

{1, 2, 3, 4, 5, 6, 7, 8}

In [140]:
#tuple in data  in set
md = {1,2,3,4,5,5,("saurabh","saurabh")}
md

{('saurabh', 'saurabh'), 1, 2, 3, 4, 5}

In [141]:
#mutable
md.add(6)
md

{('saurabh', 'saurabh'), 1, 2, 3, 4, 5, 6}

In [142]:
#mutable
md.remove(5)
md

{('saurabh', 'saurabh'), 1, 2, 3, 4, 6}

In [143]:
#mutable
md.update([10,11])
md

{('saurabh', 'saurabh'), 1, 10, 11, 2, 3, 4, 6}

---------------------------------------------------------------------------

**6) Discuss the Use Cases of Tuples and Sets in Python Programming?**

**Ans:-**
**Use Cases of Tuples:-**

1) Tuples are immutable in nature. We cant use item assignment in tuples.

2) Syntax of tuples () data elements are enclosed in parantheses.

3) Tuples are used when we want data to be fixed which cannot be changed.

4) Tuples are heterogenous can store any data and they are ordered collection of data.

5) Tuples in Python can contain duplicate items.

6) Elements can be accessed using index

7) Tuples support slicing

**Example :-**

In [144]:
tuple1 = (1,2,3,4,5,6,7,8,9)
for i in tuple1:
  print(i)

1
2
3
4
5
6
7
8
9

In [145]:
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print(weekdays[0])

Monday

**Use Cases of Sets:-**

1) Sets are Unordered: No specific order of elements.

2) Unique: Duplicate elements are automatically removed.

3) Mutable: Elements can be added or removed.

4) Efficient: Set operations (e.g., unions, intersections) are optimized.

In [146]:
# Example: Removing duplicates
nums = [1, 2, 2, 3, 4, 4]
unique_nums = set(nums)
print(unique_nums)

{1, 2, 3, 4}

In [147]:
fruits = {"apple", "banana", "cherry"}
print("apple" in fruits)
print("grape" in fruits)

True
False

In [148]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
common = set1 & set2
print(common)  # Output: {3, 4}

{3, 4}

**7) Describe how to add, modify, and delete items in a dictionary with examples?**

**Ans:-**
**a) How to add key value pairs in dictionary**

In [150]:
# Adding the elements
person = {"name": "saurabh", "age": 25}
person["city"] = "panchgani"
print(person)

{'name': 'saurabh', 'age': 25, 'city': 'panchgani'}

b) **How to Modify Items in Dictionary**

In [154]:
person1 = {"name": "saurabh", "age": 25}
person1["city"] = "panchgani"
person1["age"] = 26 # accessed the key and assigned a value
print(person1)

{'name': 'saurabh', 'age': 26, 'city': 'panchgani'}

**c) Delete Items in Dictionary**

In [155]:
name = {"name": "saurabh", "age": 25}
del name["age"] # Using del
print(name)

{'name': 'saurabh'}

In [160]:
# Using pop
name3 = {"name": "saurabh", "age": 25}
age = name3.pop("age")
print(name3)
print(age)     # Output: 26

{'name': 'saurabh'}
25

---------------------------------------------------------------------------

**8) Discuss the importance of dictionary keys being immutable and provide examples?**

**Ans:-**

In python programming, a dictionary is a collection of key-value pairs where each key is used to uniquely identify and access value assigned to key.

**Importance of dictionary keys:-**

Consistency and Reliability:
Keys in a dictionary are needed to be the same when they are used. If they were changeble, it can be difficult to find or maintain associated values.Example, if a key changes after it has been added, the dictionary might lose track of its corresponding value.

**Efficient Searching:**
Dictionaries are optimized for fast lookups. They use a process called hashing to locate keys quickly. Immutable keys ensure that their hash values (used for searching) do not change, making lookups efficient.

**Avoiding Errors:**
Allowing mutable keys could lead to unexpected bugs or inconsistencies. For instance, if a list (mutable) were used as a key and then modified, the dictionary would behave unpredictably because the internal structure used to store keys might not recognize the changed key.

**Examples:-**

In [168]:
dict = {"name": "saurabh", "age": 25}
print(dict)

{'name': 'saurabh', 'age': 25}

In [175]:
dict2 = {(1, 2): "Pw", (3, 4): "Skills"}
print(my_dict)

{(1, 2): 'Point', (3, 4): 'Another Point'}